body {
	font-family: 'Roboto', sans-serif;
	color: var(--copy-main);
	background: var(--light-blue);
}

.wrapper {
	display: flex;
	flex-direction: column;
	background: var(--white);
	border-radius: 16px;
	max-width: 90vw;
	margin: 12px auto;
	padding: 30px 10px;
	box-shadow: 0px 6px 10px grey;
}

.logo-img {
	max-width: 156px;
	height: auto;
	margin: 0 auto;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info {
	margin-top: 12px;
	display: flex;
    flex-direction: column;
	width: 90%;
}

.info input {
	padding: 6px 12px;
    border: 1px solid var(--copy-dim);
    border-radius: 6px;
}

.info label {
	padding: 12px 0px 2px;
}

.ingredients {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	width: 90%;
}

.ingredient-container {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	border-bottom: 1px solid var(--light-blue);
	padding: 6px 0px;
}

.ingredient-radio {
	min-width: 100px;
    display: flex;
    justify-content: space-between;
}

.ingredients-icon {
	display: inline-block;
	width: 30px;
	height: auto;
}

.form-submit-button {
	margin-top: 16px;
	background-color: var(--red);
	border: none;
	color: white;
	padding: 16px 32px;
	cursor: pointer;
	width: 90%;
}
